body {
  margin: 0;
  color: #40514e;
  text-align: center;
  font-family: "Merriweather", serif;
}
.top-container {
  background-color:#ff7b54;
  padding-top: 200px;
  position: relative;
}

h1 {
  margin-top: 0;
  padding-top: 50px;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #ffffff;
  font-family: "Sacramento", cursive;
  font-weight: bolder;
}
#My{
  color: #ffffff;
}
#hello{
  color: #ff7b54;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
#travel{
  margin: 50px 0 0 0;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #ff7b54;
  font-size: 2.5rem;
  font-weight: bolder;
}
#kartik{
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bolder;
}
.hobbies-image {
  width: 25%;
  float: left;
  margin-right: 50px;
}
.food-img {
  width: 25%;
  float: right;
  margin-left: 50px;
}
.hobbies-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  font-weight: normal;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #ff7b54;
}
h5{
  padding: 30px 0 0 0;
}
body {
  margin: 0;
}

.K {
  text-decoration: underline;
}
.A {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  top: 160px;
  right: 350px;
}
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}
.profile {
  font-weight: bolder;
  width: 50%;
  margin: 25px auto 50px auto;
}
.pp {
  width: 45%;
}
.middle-container {
  padding-top: 70px;
}
.intro {
  width: 50%;
  margin: 0 auto;
}

p {
  line-height: 2;
  color: #40514e;
  font-size: 1.1rem;
}


.contact-me{
  margin-top: 110px;
}

.contact-message{
  width: 50%;
  margin: 50px auto;
}

.bottom-container{
  margin: 60px auto 0 auto;
  padding: 50px 0 20px;
  background-color: #ff7b54;
}

a{
  color: #ff7b54;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.location{
  width: auto;
  height: 500px;
  background-color: #ff7b54;
  position: absolute;
  text-align: center;
  margin-top: 50px;
}

.location-images{
  width: 50%;
  height: 500px;
}

.img-cmmnt{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  color: #eaf6f6;
}

.hobbies{
  background-color: #ff7b54;
  padding-top: 30px;
  height: 700px;
}
.h{
  color: #f9fcfb;
}
.btc{
  color: #ffffff;
  text-decoration: none;
}
